<?xml version="1.0"?>

<!--
/**
 * @category  Configuration
 * @package   Dnd\Faker\etc
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2019 Agence Dn'D
 * @license   https://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.dnd.fr/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="dnd_faker_fake" xsi:type="object">Dnd\Faker\Console\Command\Fake</item>
            </argument>
        </arguments>
    </type>
</config>
